html{
    font-size: 20px;
}
.Text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.App {
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: #afc3e3;

}
body {
    height: 100%;
    margin: 0;
  }

.bg {
    
    /* The image used */
    background-image: url("Network.png");
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  